.top-header.container [class*="col-"]{
    height: 80px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 600;
}


/* HEADER */
.container.top-header {
    line-height: 80px;
}

.top-header .col-lg-3 {
    position: relative;
}

.top-header .col-lg-7,
.top-header .col-lg-2 {
    position: relative;
}

.container.top-header img {
    width: 110px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-bar-left {
    float: right;
}

.nav-bar-right {
    margin-left: 10px;
}

.nav-bar-left li {
    display: inline-block;
    margin-left: 30px;
}

.nav-bar-right li {
    display: inline-block;
    text-align: center;
}

.nav-bar-left li a, .nav-bar-right li a {
    text-decoration: none;
    color: black;
    vertical-align: middle;
}

.nav-bar-right li a {
    border-right: 1px solid black;
    padding-right: 12px;
    margin-left: 12px;
}

.container.bottom-header {
    background-image: url("../img/hero-bg.jpg");
    background-repeat: none;
    background-size: cover;
    max-width: 100%;
    height: 554px;
}

.container.bottom-header {
    position: relative;
}

.container.bottom-header .text-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.container.bottom-header .text1 {
    color: white;
    font-size: 46px;
    margin-bottom: 20px;
}

.container.bottom-header .text2 {
    color: white;
    margin-bottom: 20px;
    font-size: 15px;
}

.container.bottom-header img {
    width: 150px;
}

.top-bar-right .fa.fa-bars {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAIN 1° SECTION TOP*/
.container.top-main {
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: center;
}

.container.top-main img {
    height: 300px;
    width: 450px;
}

.text-image1, .text-image2 {
    background-color: #fafafa;
    display: inline-block;
    padding: 60px 50px;
}

.container.top-main .text1 {
    font-size: 34px;
    margin-bottom: 20px;
}

.container.top-main .text2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container.top-main .text3 a {
    text-decoration: none;
    font-size: 16px;
    color: blue;
}

.container.top-main .text3 {
    margin-bottom: 25px;
}

/* MAIN 2° SECTION CENTRAL*/
.container.central-main1  {
    background-image: url("../img/man.jpg");
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 430px;
    text-align: center;
    max-width: 100%;
    position: relative;
}

.container.central-main2 .col-lg-4  {
    position: relative;
}

.container.central-main2 {
    height: 300px;
}

.container.central-main1 img {
    margin-top: 140px;
    height: 550px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.central-main2 .texts1,
.container.central-main2 .texts2 {
    margin-top: 120px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container.central-main2 .text1 {
    font-size: 28px;
}

.container.central-main2 .text2 {
    font-size: 16px;
}

/* CSS MEDIA QUERY */
@media screen and (min-width: 993px) {
    .top-bar-right .fa.fa-bars {
        display: none;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .container.bottom-header .text1 {
        font-size: 36px;
    }

    .container.top-main img {
        height: 200px;
        width: 350px;
    }

    .text-image1, .text-image2 {
        padding: 60px 20px;
    }

    .container.central-main1 .texts1,
    .container.central-main2 .texts2 {
        /* position: relative; */
        /* top: 60%;
        left: 50%;
        transform: translate(-50%, -50%); */
    }

}

@media screen and (max-width: 768px) {
    .container.bottom-header .text1 {
        font-size: 36px;
    }

    .container.bottom-header {
        height: 430px;
    }

    .text-image2 {
        margin-top: 35px;
    }

    .container.top-main img {
        height: 200px;
        width: 350px;
    }

    .text-image1, .text-image2 {
        padding: 40px 20px;
    }
}
